/* 
img {
    width: 600px;
}
p {
    margin: 1rem 0;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
}

.header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a181b;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login__form {
    width: 100%;
    max-width: 500px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.login__submit {
    width: 250px;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    background-color: #282F44;
}
.login__msg {
    margin: 0;
    font-size: 1.2em;
}

.lives__total {
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}
.lives__buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.lives {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.live {
    border: 2px solid #FDFFFC;
    border-radius: 5px;
}
.live__header {
    display: grid;
    gap: 1rem;
}
.live__info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.live__clients {
    background-color: #2b2a33;
}
.clients__list {
    height: 320px;
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.78);
}
.clients__list p, .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients__list p {
    margin-bottom: .5rem;
}
@media (min-width: 768px) {
    .live__header {
        grid-template-columns: repeat(2, 1fr);
    }
    .clients__list p {
        font-size: 1.1em;
    }
    .lives {
        gap: 2rem;
    }
    .lives__total {
        font-size: 1.8em;
    }
}
.live__client {
    display: flex;
    justify-content: space-between;
}

.live__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live__total {
    font-size: 1.6em;
    font-weight: bold;
}


.default {
    margin: 2rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.default__image {
    width: 100%;
    max-width: 500px;
}
.default__text {
    font-size: 1.3em;
    text-align: center;
} */

.login {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #101018;
}

.nolives {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    outline: none;
    position: absolute;
    height: 30px;
    width: 60px;
    right: 0;
    border: 3px solid #fff;
    border-radius: 15px;
    cursor: pointer;
}
/* Toggle Indicator */
input[type='checkbox']::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 5px;
    border-radius: 50%;
    transition: 0.20s;
}
/* Label */
input[type='checkbox']::after {
    content: 'Off';
    position: absolute;
    font-size: 10px;
    top: 7px;
    right: 9px;
    color: #86868b;
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Arial',
        sans-serif;
    font-weight: 600;
    letter-spacing: 0.004em;
}
/* Checked Styles */
input[type='checkbox']:checked {
    background: #0071e3;
}
input[type='checkbox']:checked::before {
    left: 31px;
    box-shadow: none;
}
input[type='checkbox']:checked::after {
    content: 'On';
    left: 9px;
    color: #f5f5f7;
}
