@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    color-scheme: dark;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1a181b;
    color: white;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
}

.input {
    padding: 0.5em;
    font-size: 1.2em;
    width: 100%;
}
.btn {
    display: flex;
    align-items: center;
    gap: 0.2em;
    cursor: pointer;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    border-radius: 5px;
}
.btn span {
    pointer-events: none;
}
.d-none {
    display: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

.header {
    border-bottom: 3px solid #fdfffc;
    margin-bottom: 1rem;
}

.header__name {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.2em;
    font-size: 1.3em;
}

.header__name .header__icon {
    font-size: 35px;
    color: #c1292e;
}

.center {
    max-width: 1024px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 0.5rem;
}
.bold {
    font-weight: bold;
}

.table {
    margin-bottom: 1rem;
}
.table__date {
    text-align: right;
    font-size: 1.1em;
}
.table__header {
    display: flex;
    gap: 0.2rem;
}
.table__title {
    flex: 1;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 2px solid #fdfffc;
}
.table__content {
    margin-bottom: 1rem;
    font-size: 0.9em;
}
.table__row {
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0.5em;
    position: relative;
    gap: 0.2rem;
}
.row__btns {
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
    opacity: 0;
    transition: opacity 300ms ease;
}
.table__row:hover > .row__btns {
    opacity: 1;
}

@media (min-width: 600px) {
    .row__articles::before {
        content: "articulos: ";
    }
    .table__amount::before {
        content: "cantidad: ";
    }
    .table__content {
        font-size: 1.1em;
    }
}

.table__content .table__row:nth-child(even) {
    background-color: #3e3a41;
}
.table__total {
    font-size: 2em;
    font-weight: bold;
}

.settings {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .settings {
        flex-direction: column;
        text-align: center;
    }
}

@media print {
    body {
        background-color: white;
    }
    body * {
        visibility: hidden;
    }
    .print-container,
    .print-container * {
        visibility: visible;
    }
    .print-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        color: #000;
    }
    .table__content div {
        padding: 0.2em 0;
    }
}
